{{ define "de/users/index" }}
<div class="row">
  {{ if .Users }}
  <div class="card border-0 shadow">
    <div class="card-body p-5">
      <!-- Responsive table -->
      <div class="table-responsive">
        <table class="table m-0">
          <thead>
          <tr>
            <th scope="col" onclick="getData('id')">Benutzer ID</th>
            <th scope="col" onclick="getData('name')">Benutzername</th>
            <th scope="col" onclick="getData('email')">Email</th>
            <th scope="col" onclick="getData('sessions')">Sitzungen</th>
            <th scope="col">
              <ul class="list-inline m-0">
                <li>
                  <a href="/register" class="btn buttonaction btn-primary btn-sm rounded-0" role="button" data-toggle="tooltip" data-placement="top" title="Hinzuf&uuml;gen">
                    <i class="fa-solid fa-plus"></i>
                  </a>
                  <a href="/api/v1/users?format=csv" class="btn buttonaction btn-secondary btn-sm rounded-0" role="button" data-toggle="tooltip" data-placement="top" title="Als CSV exportieren">
                    <i class="fa-solid fa-table"></i>
                  </a>
                </li>
              </ul>
            </th>
          </tr>
          </thead>
          <script src="/assets/js/users_index.js"></script>
          <script>setLanguage("de");</script>
          <tbody id="userslist">
          </tbody>
        </table>
      </div>
    </div>
  </div>
  {{ else }}
  <h3>Keine Benutzer vorhanden.</h3>
  {{end}}
</div>
{{end}}
