header {
    padding:          35px;
    margin:           0 10px 10px 10px;
    height:           146px;
    text-align:       center;
    vertical-align:   middle;
    font-size:        200%;
    clear:            left;
}

nav {
    /*color: #0a53be;*/
    background-color: #0a53be;
}

footer {
    position: fixed;
    background-color: #031633;
    color: white;
    width: 100%;
    height: 60px;
    bottom: 0;
}