{{define "de/userconfigs/edit"}}
<div class="row justify-content-center">
  <div class="col-md-6">
    {{ with .Error }}
    <div class="alert error">
      {{.}}
    </div>
    {{end}}

    <form action="/settings" method="post">
      <fieldset>
        <legend>Sprache</legend>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" value="en" name="language" id="lang_en" checked>
          <label class="form-check-label" for="lang_en"><img src="/assets/images/flags/gb.png" alt="British Flag" > </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" value="de" name="language" id="lang_de">
          <label class="form-check-label" for="lang_de"><img src="/assets/images/flags/de.png" alt="German Flag"></label>
        </div>
      </fieldset>
      <fieldset>
        <legend>Anzeigemodus</legend>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" value="light" name="darkmode" id="darkmode_light" checked>
          <label class="form-check-label" for="darkmode_light">Hell</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" value="dark" name="darkmode" id="darkmode_dark">
          <label class="form-check-label" for="darkmode_dark">Dunkel</label>
        </div>
      </fieldset>
      <input type="submit" value="Speichern" class="btn btn-primary">
    </form>
  </div>
</div>

<script src="/assets/js/userconfig_edit.js"></script>
{{end}}
