{{define "users/edit"}}
<div class="row justify-content-center">
    <div class="col-md-6">
        {{ with .Error }}
        <div class="alert error">
            {{.}}
        </div>
        {{end}}

        <form action="/account" method="post">
            <label for="newEmail">Email</label>
            <input type="email" name="email" value="{{ .User.Email }}" id="newEmail" class="form-control" autofocus>
            <h1>Passwort &auml;ndern <small>optional</small></h1>
            <label for="currentPassword">Aktuelles Passwort</label>
            <input type="password" name="password" id="currentPassword" class="form-control">
            <label for="newPassword">Neues Passwort</label>
            <input type="password" name="password" id="newPassword" class="form-control">
            <input type="submit" value="Speichern" class="btn btn-primary">
        </form>
    </div>
</div>
{{end}}
